.shopcategory {
  &-banner {
    display: block;
    margin: 30px auto;
    width: 100%;
  }

  &-indexSort {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
    p {
      span {
        font-weight: 600;
      }
    }
  }

  &-sort {
    padding: 8px 15px;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 40px;
    border: 1px solid #888;
  }

  &-products {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
    img {
      height: 400px;
      width: 300px;
    }
  }

  &-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 233px;
    height: 69px;
    border-radius: 25px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
  }
}

.new-collections {
  align-items: center;
  margin-top: 40px;
  h1 {
    color: #000000;
    font-weight: 600;
    font-size: 40px;
    margin-left: 50px;
  }
}

.collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  gap: 100px;
  img {
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .collections {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 60px;
    gap: 80px;
    img {
      height: 280px;
      width: 200px;
    }
  }

  .new-collections {
    h1 {
      font-size: 0px;
    }
  }

  .shopcategory {
    margin-top: 20px;
    &-indexSort {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 110%;
    }

    &-sort {
      margin: 0;
    }

    &-products {
      margin: 50px 0px 0px 100px;
      grid-template-columns: repeat(3, 1fr);
      gap: 70px;
      .item {
        width: fit-content;
        p {
          font-size: 12px;
          display: flex;
          padding: 0;
        }
        div {
          display: flex;
          gap: 10px;
          margin-top: 5px;
          span:first-child {
            font-size: 12px;
            font-weight: bold;
            color: #e60023;
          }
          span:last-child {
            font-size: 12px;
            color: #888;
            text-decoration: line-through;
          }
        }
      }
    }

    &-products img {
      height: 220px;
      width: 170px;
    }

    &-loadmore {
      width: 200px;
      height: 60px;
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .collections {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 40px;
    img {
      height: 170px;
      width: 120px;
    }
  }

  .new-collections h1 {
    font-size: 20px;
  }
  .item {
    width: 100%;

    &-price-new {
      font-size: 11px;
    }

    &-price-old {
      font-size: 10px;
    }
    p {
      font-size: 12px;
      width: 100px;
    }
  }

  .shopcategory {
    &-indexSort {
      flex-direction: row;
      justify-content: space-between;
      width: 115%;
      margin: 0;
      padding: 8px;
    }

    &-sort {
      width: 18%;
      text-align: center;
      justify-content: center;
      margin: 10px;
      padding: 6px 12px;
      font-size: 14px;
    }

    &-products {
      margin: 16px 60px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      column-gap: 50px;
      .item {
        padding: 0;
        width: 100%;
      }
      img {
        height: 200px;
        width: 150px;
      }
    }
    
    &-loadmore {
      width: 180px;
      height: 50px;
      font-size: 14px;
      margin-left: 140px;
      margin-top: 30px;
    }
  }
}
