.new-collections {
    align-items: center;
    height: 90vh;
    margin-top: 20px;
    width: 90%;
    margin-left: 155px;
    h1 {
        color: #000000;
        font-size: 50px;
        font-weight: 600;
        margin: 0;
    }

    .collections {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-content: center;
        img {
            height: 350px;
            width: 250px;
            object-fit: cover;
        }
    }

    @media (max-width: 1024px) {
        height: 75vh;
        margin-left: 30px;
    h1 {
        font-size: 35px;
        margin-bottom: 40px;
        margin-left: 40px;
    }
    .item {
        width: auto;
    }

    .collections {
        gap: 60px;
        margin-bottom: 30px;
        margin-left: 40px;
        img {
            height: 300px;
            width: 200px;
        }
    }
}

    @media (max-width: 768px) {
            height: 75vh;
        h1 {
            font-size: 35px;
            margin-bottom: 40px;
            margin-left: 30px;
        }
        .item {
            width: auto;
        }

        .collections {
            gap: 60px;
            margin-bottom: 30px;
            margin-left: 30px;
            img {
                height: 300px;
                width: 200px;
            }
        }
    }

    @media (max-width: 480px) {
        height: 55vh;
        h1 {
            font-size: 25px;
        }
        .item {
            width: auto;
        }

        .collections {
            gap: 60px;
            height: 20vh;
            img {
                height: 150px;
                width: 100px;
            }
        }
    }
}
